<div class="row s-font bg-light row-style"> 
    <span class="col-xs-3 text-left">{{basketRow.item.name}}</span>
    <span class="col-xs-1 text-center">{{basketRow.amount}}</span>
    <span class="col-xs-2 text-right">{{basketRow.item.price}}kr</span>
    <span class="col-xs-2 text-right">{{basketRow.item.price * basketRow.amount}}kr</span>
    <div class="col-xs-4 text-right" > 
        <div class="button-box-styling text-right" *ngIf="showButtons">
            <button mat-raised-button color="basic" class="button-style" (click)="onRemoveItemFromCart()">-</button>
            <button mat-raised-button color="basic" class="button-style" (click)="onAddItemToCart()">+</button>     
            <button mat-raised-button color="warn" class="button-style" (click)="onRemoveRowFromCart()">x</button>     
        </div>
    </div>
</div>