.button-box-styling {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 0px;
    margin-right: 2px;
}

.button-style {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    margin: 2px;
    padding: 0px;
    line-height: 20px;
}

.row-style {
    display:flex;
    align-items: center;
    height:24px;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 0px 2px 0px 10px;
}

span, div {
    padding: 0px;
    margin: 0px;
}
