<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header styling">
            <a href="#" class="navbar-brand">Live4Real</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav styling">
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink]="['/items']" >Items</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink]="['/houses']" >Houses</a></li>
                <li routerLinkActive="active"
                    *ngIf="itemsInCart>0||housesInCart>0"><a [routerLink]="['/shopping-list']">Shopping List</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink]="['/orders']">Orders</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink]="['/assist']">Assistance</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a [routerLink]="['/auth']">Authenticate</a></li>
                <li routerLinkActive="active"
                    *ngIf="role==='admin'"><a [routerLink]="['/admin']">Admin</a></li>
            </ul>
            <ul *ngIf="isAuthenticated" class="nav navbar-nav navbar-right styling">
                <li class="margin-right"><button class="btn btn-primary" type="button" (click)="onToggleUser()">toggle role</button> </li>
                <li><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
                <li><a [routerLink]="['/shopping-list']"><fa-icon [ngClass]="itemsInCart>0 ? 'icon-style' : '' " [icon]="faCartShopping"></fa-icon>({{ itemsInCart }})</a></li>
                <li><a [routerLink]="['/shopping-list']"><fa-icon [ngClass]="housesInCart>0 ? 'icon-style' : '' " [icon]="faHouse"></fa-icon>({{ housesInCart }})</a></li>
            </ul>
        </div>
    </div>
</nav>
