<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
        <span>Live4Real</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="isAuthenticated">
                <a [routerLink]="['/items']" >
                    <mat-icon>category</mat-icon>
                    <span>Items</span>
                </a>
            </button>
            <button mat-menu-item *ngIf="isAuthenticated">
                <a [routerLink]="['/houses']" >
                    <mat-icon>home</mat-icon>
                    <span>Houses</span>
                </a>
            </button>
            <button mat-menu-item *ngIf="isAuthenticated">
                <a [routerLink]="['/orders']" >
                    <mat-icon>article</mat-icon>
                    <span>Orders</span>
                </a>
            </button>
            <button mat-menu-item *ngIf="isAuthenticated">
                <a [routerLink]="['/assist']" >
                    <mat-icon>support</mat-icon>
                    <span>Assistance</span>
                </a>
            </button>
            <button mat-menu-item *ngIf="!isAuthenticated">
                <a [routerLink]="['/auth']" >
                    <mat-icon>login</mat-icon>
                    <span>Login / Signup</span>
                </a>
            </button>
            <button mat-menu-item *ngIf="role==='admin'">
                <a [routerLink]="['/admin']" >
                    <mat-icon>admin_panel_settings</mat-icon>
                    <span>Admin</span>
                </a>
            </button>
            <button mat-menu-item *ngIf="isAuthenticated" (click)="onLogout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

        <span class="example-spacer"></span>

        <button mat-icon-button class="example-icon" [routerLink]="['/shopping-list']">
            <mat-icon *ngIf="itemsInCart===0">shopping_cart</mat-icon>
            <mat-icon *ngIf="itemsInCart>0" [matBadge]=itemsInCart matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" [routerLink]="['/shopping-list']">
            <mat-icon *ngIf="housesInCart===0">home</mat-icon>
            <mat-icon *ngIf="housesInCart>0" [matBadge]=housesInCart matBadgeColor="warn">home</mat-icon>
        </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>

