<p>
    <mat-toolbar color="primary">
        <mat-form-field appearance="standard">
          <mat-label>Category filter</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="category-filter" panelClass="example-panel-blue">
            <mat-option *ngFor="let category of uniqueCategories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-toolbar>
</p>

<div class="overflow-auto h-90vh">
    <div *ngFor="let category of uniqueCategories">
        <div *ngIf="selectedValue===category && category!=='All categories'">
            <app-item-list 
                [source]="source" 
                [chosenCategory]="selectedValue" 
                [category]="category" 
                [items]="items"
                [uniqueCategories]="uniqueCategories">
            </app-item-list>  
        </div>
    </div>

    <div *ngIf="selectedValue==='' || selectedValue==='All categories'" class="d-flex-center flex-wrap">
        <div *ngFor="let item of items" >
            <app-item-list 
                [source]="source" 
                [chosenCategory]="selectedValue" 
                [category]="item.category" 
                [items]="items"
                [item]="item"
                [uniqueCategories]="uniqueCategories">
            </app-item-list>  
        </div>
    </div>
</div>
