<div class="navbar navbar-default">
    <div class="container styling">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="styling">
            <select 
                id="chosenCategory"
                class="form-control"
                [ngModel]="defaultCategory"
                name="category">
                <option    
                    *ngFor="let category of uniqueCategories" >
                    {{category}}
                </option>
            </select>
            <div class="styling-btn-box">
                <button class="btn btn-primary" type="submit">Filter</button>
                <button class="btn btn-primary" type="button" (click)="onResetFilter()">Show all</button>
            </div>
        </form>
    </div>
</div>

<div class="overflow-auto">
    <div *ngFor="let category of uniqueCategories">
        <div *ngIf="chosenCategory===''; else ChosenCategory">
            <app-item-list
            [source]="source" 
            [chosenCategory]="chosenCategory" 
            [category]="category" 
            [items]="items"
            [uniqueCategories]="uniqueCategories"></app-item-list>
        </div>
        <ng-template #ChosenCategory>
            <div *ngIf="category === chosenCategory">
                <app-item-list
                    [source]="source" 
                    [chosenCategory]="chosenCategory" 
                    [category]="category" 
                    [items]="items"
                    [uniqueCategories]="uniqueCategories"></app-item-list>
            </div>
        </ng-template>
    </div>
</div>



