<div class="top-styling-box bg-blue">
    <div class="top-styling top-styling-left">
        <button mat-raised-button color="basic" type="button" class="button-style" (click)="onCollapse()">{{ collapseIcon }}</button>
        <div class="top-styling-text">{{house.name}}</div>
    </div>
    <div class="top-styling top-styling-right"> 
        <div class="button-box-styling" *ngIf="showButtons">
            <button mat-raised-button color="basic" class="button-style" (click)="onRemoveHouseFromCart()">-</button>
            <button mat-raised-button color="basic" class="button-style" (click)="onAddHouseToCart()">+</button>     
            <button mat-raised-button color="warn" class="button-style" (click)="onRemoveHouseRowFromCart()">x</button>     
        </div>
    </div>
</div>

<div class="main-style bg-light">
    <div class="col-xs-4">
        <img 
        [src]="house.imageUrl"
        alt="{{ house.name }}" 
        class="img-responsive img-styling">
    </div>
    <div class="col-xs-8 text-box-style">
        <div class="name-style">{{ house.name }}</div>
        <div class="description-style">{{ house.description.slice(0,100) }}</div>
    </div>
</div>

<div [ngClass]="!collapse ? 'hidden' : '' ">
    <ul class="row bg-dark list-inline header-row-style">
        <li class="col-xs-4 text-left">Name</li>
        <li class="col-xs-2 text-center">Amount</li>
        <li class="col-xs-3 text-right">Price</li>
        <li class="col-xs-3 text-right">Total</li>
    </ul>

    <div class="margin-bottom" *ngFor="let basketRow of house.basketRows">
        <app-shopping-list-house-rows-mobile [basketRow]="basketRow"></app-shopping-list-house-rows-mobile> 
    </div> 

    <p class="row-style text-right bg-dark">Total: {{totalSingleHousePrice()}}kr</p>    
</div>

<div class="footer-row-style bg-blue text-right">
    <span class="text-left">Amount: {{house.amount}}</span>
    <span class="text-right">Total: {{countTotalPrice()*house.amount}}kr</span>
</div>

<hr>
