li, ul, div {
    margin: 0px;
    padding: 0px;
}

ul, div, span {
    font-size: small;
}

li {
    font-size: 11px;
}

p {
    font-size: smaller;
}

.bg-blue { 
    background-color: #3f51b5;
    color: white;
}

.top-styling-box {
    display: flex;
    width:100%;
    height: 30px;
    margin-bottom: 10px;
}

.top-styling {
    display: flex;
    align-items: center;
    height: 30px;
    width:100%;
}

.top-styling-left {
    justify-content: left;
    padding-left: 2px;
}

.top-styling-right {
    justify-content: right;
}

.top-styling-text {
    font-weight: 500;
    /* color: darkslategrey; */
    margin-left: 7px;
}

.button-box-styling {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 0px;
    margin-right: 2px;
}

.main-style {
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
}

.img-styling {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50px;
    padding: 10px;
}

.name-style {
    font-weight: 500;
    margin-bottom: 3px;
}

.description-style {
    font-size: smaller;
    overflow: hidden;
}

.row-style {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 10px 0px;
}

.button-style {
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    margin: 2px;
    padding: 0px;
    line-height: 24px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.img-styling {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    max-height: 75px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.text-box-style {
    padding-left: 3px;
    padding-right: 3px;
}

.header-row-style {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 20px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 10px 0px;
}

.footer-row-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 10px 0px;
}















