<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Contact us!</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div *ngIf="submitted===false" class="overflow-auto vh-90">
  <div class="form-style">
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div 
        id="user-data"
        ngModelGroup="userData"
        #userData="ngModelGroup">

        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" id="username" class="form-control" ngModel name="username" required #username="ngModel">
          <span class="help-block" *ngIf="!username.valid && username.touched">Please enter a valid name!</span>
        </div>
    
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>

        <div class="form-group">
          <label for="question">Questions regarding</label>
          <select
            id="question"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="question"
            >
            <option value="house design">House design (general)</option>
            <option value="house review">House design (review)</option>
            <option value="shipping">Shipping and delivery</option>
            <option value="in stock">Items in Stock</option>
            <option value="other">Other</option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="msg">Message</label>
          <textarea
            id="message"
            rows=4
            class="form-control"
            ngModel
            name="message"
            required
            #message="ngModel"></textarea>
            <span class="help-block" *ngIf="!message.valid && message.touched">Please don't leave the message blank!</span>
        </div>
        
        <label>
          <input type="checkbox" name="attach" ngModel #attach="ngModel">
            Attach basket items?
        </label>
      </div>
    
      <div class="button-row-style row">
        <button mat-raised-button color="primary" class="button-style" type="submit" [disabled]="!f.valid">Send question</button>
      </div>
    </form>
  </div>
  
  <div *ngIf="attach.value"> 
      
    <div *ngIf="mobile">
      <div *ngFor="let house of shoppingListHouses; let i = index">
        <app-shopping-main-mobile [house]="house" [index]="i" [showButtons]="showButtons"></app-shopping-main-mobile>
      </div>
  
      <hr />
  
      <div *ngIf="shoppingList.length>0">
        <div class="row bg-blue row-header-style"> 
          <span class="col-xs-4 text-left">Name</span>
          <span class="col-xs-2 text-center">Amount</span>
          <span class="col-xs-2 text-right">Price</span>
          <span class="col-xs-2 text-center"></span>
          <span class="col-xs-2 text-right">Total</span>
        </div>
      </div>
  
      <div *ngFor="let basketRow of shoppingList; let i = index">
        <app-shopping-list-rows-mobile [basketRow]="basketRow" [index]="i" [showButtons]="showButtons"></app-shopping-list-rows-mobile>
      </div> 
    </div>
  
    <div *ngIf="!mobile">
      <div *ngFor="let house of shoppingListHouses; let i = index" class="margin-bottom" style="display:flex;">
          <app-shopping-main [house]="house" [index]="i" [showButtons]="showButtons"></app-shopping-main>
      </div>
  
      <div *ngIf="shoppingList.length>0" >
        <div class="row col-xs-12 bg-middle row styling margin-bottom" style="height:40px; padding-left:0px; padding-right: 0px;">
          <div class="col-xs-1"></div>
          <ul class="list-inline col-xs-6 text-left">
              <li class="col-xs-3 s-font text-left">Name</li>
              <li class="col-xs-9 s-font text-left">Description</li>
          </ul>
          <ul class="list-inline col-xs-3 text-left">
              <li class="col-xs-4 text-center s-font">Amount</li>
              <li class="col-xs-4 text-center s-font">Price</li>
              <li class="col-xs-4 text-center s-font">Total</li>
          </ul>
          <div class="styling col-xs-2"></div>
        </div>

        <div *ngFor="let basketRow of shoppingList; let i = index">
          <app-shopping-list-rows [basketRow]="basketRow" [index]="i" [showButtons]="showButtons"></app-shopping-list-rows>
        </div> 
      </div>
    </div>
  </div>
</div>

<div *ngIf="submitted===true">
  <div class="submitted-style">
    <div (click)="submitted=false" class="bg-blue submitted-msg-style">
      Message sent!
    </div>
  </div>
</div>