<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Contact us!</span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<div class="overflow-auto margin-top">
  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div 
            id="user-data"
            ngModelGroup="userData"
            #userData="ngModelGroup">
            <div class="form-group">
              <label for="username">Name</label>
              <input 
                type="text"
                id="username"
                class="form-control"
                ngModel
                name="username"
                required
                #username="ngModel">
                <span class="help-block" *ngIf="!username.valid && username.touched">Please enter a valid name!</span>
            </div>
  
            <div class="form-group">
              <label for="email">Mail</label>
              <input
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="email"
                required
                email
                #email="ngModel">
                <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
            </div>
          </div>
  
          <div class="form-group">
            <label for="question">Questions regarding</label>
            <select
              id="question"
              class="form-control"
              [ngModel]="defaultQuestion"
              name="question"
              >
              <option value="house design">House design (general)</option>
              <option value="house review">House design (review)</option>
              <option value="shipping">Shipping and delivery</option>
              <option value="in stock">Items in Stock</option>
              <option value="other">Other</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="msg">Message</label>
            <textarea
              id="message"
              rows=4
              class="form-control"
              ngModel
              name="message"
              required
              #message="ngModel"></textarea>
              <span class="help-block" *ngIf="!message.valid && message.touched">Please don't leave the message blank!</span>
          </div>
          
          <label>
            <input 
              type="checkbox"
              name="attach"
              ngModel
              #attach="ngModel"
              >
              Attach basket items?
          </label>
  
          <br>
          <br>
  
          <button 
            class="btn btn-primary"
            type="submit"
            [disabled]="!f.valid">Send question</button>
  
          <!-- <p *ngIf="!userData.valid && userData.touched">User data is invalid!</p> -->
        </form>
      </div>
    </div>
    <hr>
  
    <div *ngIf="attach.value">
  
      <div *ngFor="let house of shoppingListHouses; let i = index" class="">
        <app-shopping-main [house]="house" [index]="i" [showButtons]="showButtons"></app-shopping-main>
        <hr>
    </div>
  
      <div *ngFor="let basketRow of shoppingList; let i = index">
        <app-shopping-list-rows [basketRow]="basketRow" [index]="i" [showButtons]="showButtons"></app-shopping-list-rows>
      </div>
  
    </div>
  
  </div>
  

</div>