  
  input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  }

.overflow-auto {
  overflow: auto;
  height: 90vh;
}

.styling {
  display: flex;
  align-items: center;
  height: 40px;
}

.styling-btn-box {
  display: flex;
  align-items:center;
  margin-left: 10px;
}

.btn-primary {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color:steelblue;
  border:1px steelblue solid;
  color: #fff;
}

.btn {
  width: 100px;
}

.margin-top {
  margin-top: 20px;
}

.styling-blue {
  display: flex;
  align-items: center;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.margin-bottom {
  margin-bottom: 10px;
}


ul,li {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}



