<div class="col-xs-12 row s-font width-100">
    <app-img-modal [item]="basketRow.item" [ngClass]="!showModal ? 'modal-show' : ''" (hideModal)="showModal=$event"></app-img-modal>

    <!-- Creates the bootstrap modal where the image will appear -->

    <ul class="styling row list-inline bg-light">
        <li class="img-box-styling col-xs-1">
            <img 
            [src]="basketRow.item.imageUrl"
            alt="{{ basketRow.item.name }}" 
            class="img-responsive img-styling"
            (click)="onClickImage()" />
        </li>
        <li class="col-xs-2">{{basketRow.item.name}}</li>
        
        <li class="col-xs-6" *ngIf="basketRow.item.description.length<120">{{basketRow.item.description.slice(0,120)}}</li>
        <li class="col-xs-6" *ngIf="basketRow.item.description.length>=120">{{basketRow.item.description.slice(0,120)}} ...</li>
        <li class="col-xs-1 text-center">{{basketRow.amount}}</li>
        <li class="col-xs-1 text-right">{{basketRow.item.price}}kr</li>
        <li class="col-xs-1 text-right">{{basketRow.item.price * basketRow.amount }}kr</li>
    </ul>
</div>