div {
    margin-bottom: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.text-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.text-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 280px;
    min-width: 280px;
    width: auto;
    margin:5px;
}

.header-image {
    background-image: home;
    background-size: cover;
    background-color: #3f51b5;
    color:white;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mat-card {
    padding-bottom:30px;
    margin-bottom: 20px;
}

mat-card-header {
    height: 60px;
}

.mat-card-image {
    margin-top: 0px !important;
    border-radius: 0px !important;
}

.mat-card-font {
    font-size: 16px;
}

.row{
    margin-left: 0px; 
    margin-right:0px;
}

.avatar-style {
    padding: 0px;
    margin: 0px;
    width: 60px;
    height:60px;
    text-align: left;
}

img {
    margin: 0px;
}

.desc-style {
    height:85px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top:10px !important;
}

.image-box-style {
    align-items: center;
    height:248px;
}

.image-style {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 248px;
    height: 248px;
}

span {
    font-size: smaller;
    padding: 0px;
}

.row-header-style {
    padding: 5px 15px 5px 15px;
}

.row-style {
    padding: 0px 15px 0px 15px;
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    line-height: 28px;
    width:40px;
}

.button-box-style {
    display: flex;
    justify-content: center;
    padding: 0px;
}
