.styling {
    display: flex;
    align-items: center;
    padding: 5px;
}

.detail-styling {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-styling {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.height-main {
    height: 150px;
}

.height-desc {
    height: 40px;
}

.row-styling {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-styling {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    max-height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg-blue {
    background-color: #3f51b5;
    color: white;
}

.bg-dark {
    background-color: rgb(228, 233, 238); 
}
.bg-light {
    background-color: rgba(228, 233, 238, 0.315); 
}

.padding {
    padding: 5px;
}

.margin {
    margin: 5px;
}

ul, li {
    margin: 0px;
}

.list-inline {
    margin-left:0px;
}

ul {
    margin-bottom: 10px;
    margin-left: 0px;
}

div {
    margin-bottom: 10px;
}

.border {
    border: 1px rgb(155, 148, 148) solid;
    border-radius: 5px;
}

.modal-show {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .text-right {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
}

.text-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-box {
    display: block;
    text-align: right;
    margin:0px;
}

.bold {
    font-weight: 600;
    color: darkslategrey;
}

.example-card {
    max-width: 280px;
    min-width: 250px;
    /* max-width: 350px;
    min-width: 290px; */
    width: auto;
    margin:5px;
  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-image: home;
    background-size: cover;
    background-color: #3f51b5;
    color:white;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .xs-font {
      font-size:x-small;
  }
  .s-font {
      font-size:smaller;
  }

  .mat-card {
      padding-bottom:30px;
      margin-bottom: 20px;
  }

  .mat-card-font {
    font-size: 16px;
  }

  .row{
    margin-left: 0px; 
    margin-right:0px;
  }

  .xs-font {
    font-size:x-small;
}
.s-font {
    font-size:smaller;
}



