<mat-card class="card">
    <mat-card-header>
        <div *ngIf="!collapse" mat-card-avatar class="header-image avatar-style"><mat-icon>home</mat-icon></div>
        <div *ngIf="!collapse">
                <mat-card-title class="mat-card-font">{{ house.name }}</mat-card-title>
                <mat-card-subtitle >Price {{ countTotalPrice() }}kr</mat-card-subtitle>
        </div>
        <div *ngIf="collapse" mat-card-avatar class="avatar-style">
            <img mat-card-image [src]="house.imageUrl" alt=house.name class="avatar-style">
        </div>
        <div *ngIf="collapse">
            <mat-card-title class="mat-card-font">{{ house.name }}</mat-card-title>
            <mat-card-subtitle>Price {{ countTotalPrice() }}kr</mat-card-subtitle>
        </div>
    </mat-card-header>

    <mat-card-content>
        <p class="s-font desc-style">
            {{ house.description }}
        </p>
        <div [ngClass]="collapse ? 'hidden' : '' ">
            <div class="d-flex-center image-box-style">
                <img mat-card-image [src]="house.imageUrl" alt=house.name class="image-style">
            </div>
            <div class="row bg-blue row-header-style"> 
                <span class="col-xs-4 text-left">Name</span>
                <span class="col-xs-2 text-center">Amount</span>
                <span class="col-xs-2 text-right">Price</span>
                <span class="col-xs-2 text-center"></span>
                <span class="col-xs-2 text-right">Total</span>
            </div>
            <div *ngFor="let basketRow of house.basketRows">
                <app-houses-item-rows [basketRow]="basketRow"></app-houses-item-rows> 
            </div> 
            <div class="bg-blue text-right s-font row-header-style">Total Price: {{countTotalPrice()}}kr</div>
        </div>
    </mat-card-content>

    <mat-card-actions class="button-box-style">
        <button mat-raised-button color="primary" class="button-style" (click)="collapse=!collapse">Details</button>
        <button mat-raised-button color="primary" class="button-style" (click)="onAddHouse()">Buy</button>
    </mat-card-actions>
</mat-card>  
