
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>home</mat-icon></div>
        <mat-card-title>{{ house.name }}</mat-card-title>
        <mat-card-subtitle>Price {{ countTotalPrice() }}kr</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="house.imageUrl" alt=house.name style="padding: 20px;">
    <mat-card-content>
        <p>
            {{ house.description }}
        </p>

        <div [ngClass]="collapse ? 'hidden' : '' ">
            <div class="row s-font bg-blue styling" style="padding-left: 0px; padding-right:0px;"> 
                <span class="col-xs-4 text-left" style="padding-left: 15px; padding-right:0px;">Name</span>
                <span class="col-xs-2 text-center" style="padding: 0px;">Amount</span>
                <span class="col-xs-2 text-right" style="padding: 0px;">Price</span>
                <span class="col-xs-2 text-center" style="padding: 0px;"></span>
                <span class="col-xs-2 text-right" style="padding-left:0px; padding-right: 15px;">Total</span>
            </div>
            
            <div *ngFor="let basketRow of house.basketRows; let i = index">
                <div class="row s-font bg-light"> 
                    <span class="col-xs-4 text-left" style="padding-left: 15px; padding-right:0px;">{{basketRow.item.name}}</span>
                    <span class="col-xs-2 text-center" style="padding: 0px;">{{basketRow.amount}}st</span>
                    <span class="col-xs-2 text-right" style="padding: 0px;">{{basketRow.item.price}}kr</span>
                    <span class="col-xs-2 text-center" style="padding: 0px;">=</span>
                    <span class="col-xs-2 text-right" style="padding-left:0px; padding-right: 15px;">{{basketRow.item.price * basketRow.amount}}kr</span>
                </div>
            <!-- <app-houses-list [basketRow]="basketRow"></app-houses-list>  -->
            </div> 
            <div class="bg-blue styling text-right s-font" style="padding-left: 0px; padding-right:10px;">Total Price: {{countTotalPrice()}}kr</div>
        </div>
    </mat-card-content>
    <mat-card-actions class="button-styling">
        <button mat-raised-button color="primary" (click)="collapse=!collapse">Details</button>
        <button mat-raised-button color="primary" (click)="onAddHouse(house.id)">Buy</button>
    </mat-card-actions>
</mat-card>  
