.styling {
    display: flex;
    justify-content: space-between;
}

.styling-btn-box {
    display: flex;
    align-items:center;
    margin-left: 10px;
}

.btn-primary {
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color:steelblue;
    border:1px steelblue solid;
    color: #fff;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 10px;
}

.overflow-auto {
    overflow: auto;
    height: 90vh;
}

select {
    width:200px;
}

.example-spacer {
    flex: 1 1 auto;
  }





