<mat-toolbar color="primary">
    <mat-form-field appearance="standard">
        <mat-label>House filter</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="house-filter" panelClass="example-panel-blue">
        <mat-option *ngFor="let house of uniqueHouses" [value]="house">
            {{house}}
        </mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar>

<div class="overflow-auto vh90">
    <div class="d-flex-center flex-wrap">
        <div *ngFor="let house of houses">
            <div *ngIf="selectedValue==='All houses' || selectedValue==='' || selectedValue===house.name" >
                <app-house-main [house]="house" class="d-flex-space-between flex-wrap"></app-house-main>  
            </div>
        </div>
    </div>
</div>
       