<div class="navbar navbar-default">
    <div class="container styling">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="styling">
            <select 
                id="houseFilter"
                class="form-control"
                [ngModel]="defaultHouse"
                name="name">
                <option
                    *ngFor="let house of uniqueHouses" >
                    {{house}}
                </option>
            </select>
            <div class="styling-btn-box">
                <button class="btn btn-primary margin" type="submit">Filter</button>
                <button class="btn btn-primary margin" type="button" (click)="onResetFilter()">Show all</button>
            </div>
        </form>
    </div>
</div>    

<div class="overflow-auto">

    <div *ngFor="let house of houses; let i = index" >
        <div *ngIf="chosenHouse.name===''; else ChosenHouse">
            <div>
                <app-house-main [house]="house" ></app-house-main>  
            </div>
        </div>
        <ng-template #ChosenHouse>
            <div *ngIf="chosenHouse.name===house.name">
                <div>
                    <app-house-main [house]="house"></app-house-main>                 
                </div>
            </div>   
        </ng-template>
    </div>
</div>
       






