.overflow-auto {
    overflow: auto;
}

.example-spacer {
    flex: 1 1 auto;
}

.h-90vh {
    height: 90vh;
}

mat-form-field {
    font-size:medium;
    font-weight: 800px;
}

mat-select {
    font-size: small;
}

mat-toolbar {
    height: 64px;
    margin-bottom: 10px;
}

/* .margin-bottom {
    margin-bottom: 10px;
} */

/* select {
    width:200px;
} */

/* .styling {
    display: flex;
    justify-content: space-between;
} */

/* .styling-btn-box {
    display: flex;
    align-items:center;
    margin-left: 10px;
} */

/* .btn-primary {
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color:steelblue;
    border:1px steelblue solid;
    color: #fff;
} */