
.overflow-auto {
    overflow: auto;
}

.vh90 {
    height: 90vh;
}

mat-form-field {
    font-size:medium;
    font-weight: 800px;
}

mat-select {
    font-size: small;
}

mat-toolbar {
    height: 64px;
}
