<div class="navbar navbar-default">
    <div class="container styling">
        <form *ngIf="orders.length>0" (ngSubmit)="onSubmit(f)" #f="ngForm" class="styling">
            <select 
                id="chosenCategory"
                class="form-control"
                [ngModel]="defaultOrder"
                name="order">
                <option    
                    *ngFor="let order of uniqueOrders" >
                    {{order}}
                </option>
            </select>
            <div class="styling-btn-box">
                <button class="btn btn-primary" type="submit">Filter</button>
            </div>
        </form>
        <div *ngIf="orders.length===0">
            No orders placed yet!
        </div>
    </div>
</div>

<div class="overflow-auto">
    <div *ngFor="let order of orders" class="col-xs-12">
        <app-single-order *ngIf="order.userId===userId"[chosenOrder]="chosenOrder" [order]="order"></app-single-order>    
    </div>
</div>



