<div class="navbar navbar-default">
    <div class="container styling">
        <form *ngIf="orders.length>0" (ngSubmit)="onSubmit(f)" #f="ngForm" class="styling">
            <select 
                id="chosenCategory"
                class="form-control"
                [ngModel]="defaultOrder"
                name="order">
                <option    
                    *ngFor="let order of uniqueOrders" >
                    {{order}}
                </option>
            </select>
            <button class="btn btn-primary margin" type="submit">Filter</button>
            <button class="btn btn-primary margin" type="button" (click)="onResetFilter()">Show all</button>
        </form>
        <div *ngIf="orders.length===0" class="no-order-style">
            No orders placed yet!
        </div>
    </div>
</div>

<div class="overflow-auto">
    <div *ngFor="let order of orders" class="col-xs-12">
        <app-single-order [chosenOrder]="chosenOrder" [order]="order"></app-single-order>    
    </div>
</div>



