<!-- <div>
    <app-img-modal [item]="item" [ngClass]="!showModal ? 'modal-show' : ''" (hideModal)="showModal=$event"></app-img-modal>
    
    <div class="styling bg-light col-xs-12 align-left">
        <div class="col-xs-1">
            <img 
                [src]="item.imageUrl"
                alt="{{ item.name }}" 
                class="img-responsive img-styling"
                (click)="onClickImage()">
        </div>
        <ul class="styling list-inline col-xs-10">
            <li class="col-xs-2">{{item.category}}</li>
            <li class="col-xs-2">{{item.name}}</li>
            <li class="col-xs-5">{{item.description}}</li>
            <li class="col-xs-2">{{item.price}}kr</li>
            <li *ngIf="source==='new-house'" [ngClass]="amount>0 ? 'bg-green' : '' " class="col-xs-1 text-center">{{amount}}</li>
        </ul>
        <div class="styling styling-right col-xs-1 ">
            <div *ngIf="source==='items'">
                <button class="btn btn-buy button-styling" (click)="onAddItemToCart()"><fa-icon [icon]="faPlus"></fa-icon></button> 
            </div>
            <div *ngIf="source==='new-house'" class="button-box-styling">
                <button class="btn btn-buy button-styling" (click)="onSubractFromAmount()"><fa-icon [icon]="faMinus"></fa-icon></button>     
                <button class="btn btn-buy button-styling" (click)="onAddToAmount()"><fa-icon [icon]="faPlus"></fa-icon></button>     
            </div> 
        </div>
    </div>
</div> -->

<!-- <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>category</mat-icon></div>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>Category: {{ item.category }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="item.imageUrl" alt="item.name" style="padding: 20px;">
    <mat-card-content>
        <p>
            {{ item.description }}
        </p>
        <div class="row s-font bg-blue styling" style="padding-left: 0px; padding-right:0px;"> 
            <span class="col-xs-6 text-left" style="padding-left: 15px;">Name</span>
            <span class="col-xs-6 text-right" style="padding-right: 15px;">Price</span>
        </div>
        <div class="row s-font bg-light"> 
            <span class="col-xs-6 text-left" style="padding-left: 15px">{{item.name}}</span>
            <span class="col-xs-6 text-right" style="padding-right: 15px;">{{item.price}}kr</span>
        </div> 
    </mat-card-content>
    <mat-card-actions class="button-position">
        <div *ngIf="source==='items'">
            <button mat-raised-button color="primary" (click)="onAddItemToCart()"><fa-icon [icon]="faPlus"></fa-icon></button> 
        </div>
        <div *ngIf="source==='new-house'" class="button-box-styling">
            <button mat-raised-button color="primary" (click)="onSubractFromAmount()"><fa-icon [icon]="faMinus"></fa-icon></button>     
            <button mat-raised-button color="primary" (click)="onAddToAmount()"><fa-icon [icon]="faPlus"></fa-icon></button>     
        </div> 
    </mat-card-actions>
</mat-card> -->

<mat-card class="example-card">
    <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>category</mat-icon></div>
        <mat-card-title class="mat-card-font">{{ item.name }}</mat-card-title>
        <mat-card-subtitle>Category: {{ item.category }}</mat-card-subtitle>
    </mat-card-header> -->
    

    <mat-card-header style="height: 60px; margin-bottom: 20px;">
        <div *ngIf="!collapse" mat-card-avatar class="example-header-image" style="padding: 0px; margin: 0px; width: 60px; height:60px; text-align: left;"><mat-icon>home</mat-icon></div>
        <div *ngIf="!collapse">
                <mat-card-title class="mat-card-font">{{ item.name }}</mat-card-title>
                <mat-card-subtitle >price: {{ item.price }}kr</mat-card-subtitle>
        </div>

        <div *ngIf="collapse" mat-card-avatar style="padding: 0px; margin: 0px; width: 60px; height:60px;">
            <img mat-card-image [src]="item.imageUrl" alt=house.name style="border-radius: 0px; padding: 0px; margin: 0px; width: 60px;" >
        </div>
        <div *ngIf="collapse">
            <mat-card-title class="mat-card-font">{{ item.name }}</mat-card-title>
            <mat-card-subtitle>Price: {{ item.price }}kr</mat-card-subtitle>
        </div>
    </mat-card-header>

    
    <mat-card-content *ngIf="!collapse">

        <hr>
        <div style="display: flex; justify-content: center; align-items: center; height:248px;">
            <img mat-card-image [src]="item.imageUrl" alt=house.name style="padding: 0px; margin-top: 0px; margin-bottom: 0px; width: 248px; height: 248px; ">
        </div>

        <p class="s-font" style="height:85px; overflow: hidden; padding-bottom: 0px; margin-top:10px;">
            {{ item.description }}
        </p>

        <!-- <div class="row s-font bg-blue blue-row-styling"> </div> -->
        <hr>
        <div class="row s-font bg-light" style="padding-left: 0px; padding-right:0px; margin-bottom: 10px;"> 
            <span class="col-xs-6 text-left" style="padding-left: 15px;">Name</span>
            <span class="col-xs-6 text-right" style="padding-right: 15px">{{item.name}}</span>    
        </div>
        <div class="row s-font bg-light"> 
            <span class="col-xs-6 text-left" style="padding-left: 15px;">Price</span>
            <span class="col-xs-6 text-right" style="padding-right: 15px;">{{item.price}}kr</span>
        </div> 
    </mat-card-content>
    <hr>
    <mat-card-actions *ngIf="source==='items'" class="button-position">
        <button mat-raised-button color="primary" style="height: 28px; width:40px; display: flex; align-items: center;justify-content: center" (click)="collapse=!collapse">Details</button>
        <button mat-raised-button color="primary" style="height: 28px; width:40px; display: flex; align-items: center;justify-content: center" (click)="onAddItemToCart()"><fa-icon [icon]="faPlus"></fa-icon></button> 
    </mat-card-actions>
    <mat-card-actions *ngIf="source==='new-house'" class="button-position">
        <button mat-raised-button color="primary" style="height: 28px; width:40px; display: flex; align-items: center;justify-content: center" (click)="onSubractFromAmount()"><fa-icon [icon]="faMinus"></fa-icon></button>     
        <button mat-raised-button color="primary" style="height: 28px; width:40px; display: flex; align-items: center;justify-content: center" (click)="onAddToAmount()"><fa-icon [icon]="faPlus"></fa-icon></button>     
    </mat-card-actions>
</mat-card> 


