.bg-green {
    background-color: darkseagreen;
}

.card {
    width: 280px;
    margin:5px;
}

.header-image {
    background-size: cover;
    background-color: #3f51b5;
    color:white;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mat-card {
    padding-bottom:30px;
    margin-bottom: 20px;
}

.row{
    margin-left: 0px; 
    margin-right:0px;
}

mat-card-header {
    height: 60px;
    margin-bottom: 20px;
}

.mat-card-image {
    margin-top: 0px !important;
    border-radius: 0px !important;
}

.avatar-style {
    padding: 0px;
    margin: 0px;
    width: 60px;
    height:60px;
    text-align: left;
}

.b-radius-0 {
    border-radius: 0px;
}

.image-box-style {
    align-items: center;
    height:248px;
}

.image-style {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 248px;
    height: 248px;
}

.desc-style {
    height:85px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top:10px;
}

.row-style {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}

.button-style {
    display: flex;
    justify-content: center;
    height: 28px;
    width:40px;
    align-items: center;
}

.button-position {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
