<div>
    <app-img-modal [item]="item" [ngClass]="!showModal ? 'modal-show' : ''" (hideModal)="showModal=$event"></app-img-modal>
    <!-- Creates the bootstrap modal where the image will appear -->

    <div class="styling styling-left bg-light col-xs-1">
        <img 
            [src]="item.imageUrl"
            alt="{{ item.name }}" 
            class="img-responsive img-styling"
            (click)="onClickImage()">
    </div>
    <ul class="styling styling-right bg-light list-inline col-xs-10">
        <li class="col-xs-2"><span class="row-styling">{{item.category}}</span></li>
        <li class="col-xs-2"><span class="row-styling">{{item.name}}</span></li>
        <li class="col-xs-4"><span class="row-styling">{{item.description}}</span></li>
        <li class="col-xs-2"><span class="row-styling">{{item.price}}kr</span></li>
    </ul>
    <div class="styling styling-right bg-light col-xs-1 button-box-styling">
        <button class="btn btn-buy button-styling" (click)="onAddItemToCart()"><fa-icon [icon]="faCartShopping"></fa-icon></button>     
    </div>
</div>


