
.bg-green {
    background-color: darkseagreen;
}

.card {
    width: 280px;
    margin:5px;
}

.header-image {
    background-size: cover;
    background-color: #3f51b5;
    color:white;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mat-card {
    padding-bottom:30px;
    margin-bottom: 20px;
}

.row{
    margin-left: 0px; 
    margin-right:0px;
}

mat-card-header {
    height: 60px;
    margin-bottom: 20px;
}

.mat-card-image {
    margin-top: 0px !important;
    border-radius: 0px !important;
}

.avatar-style {
    padding: 0px;
    margin: 0px;
    width: 60px;
    height:60px;
    text-align: left;
}

.b-radius-0 {
    border-radius: 0px;
}

.image-box-style {
    align-items: center;
    height:248px;
}

.image-style {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 248px;
    height: 248px;
}

.desc-style {
    height:85px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top:10px;
}

.row-style {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}

.button-style {
    display: flex;
    justify-content: center;
    height: 28px;
    width:40px;
    align-items: center;
}

.button-position {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* .styling {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top:5px;
    margin-bottom:5px;
} */

/* .blue-row-styling {
    height: 20px;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 0px;
    padding-right:0px;
} */

/* .styling-right {
    border-radius: 0px 5px 5px 0px;
} */

/* .row-styling {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .img-styling {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
} */

/* .button-styling {
    width: 35px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
} */

/* .button-box-styling {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .modal-show {
    display: none;
} */

/* .modal-style{
    z-index:3;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
} */

/* .modal-content{
    margin:auto;
    position:relative;
    padding:0;
    outline:0;
    width:700px;
} */

/* .animate-zoom {
    animation:animatezoom 0.6s
} */

/* @keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}} */

/* image-style {
    width: 100%;
    height: auto;
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
} */

/* div>div>div>div>img {
    background-color: #fff;
    max-width: 500px;
    max-height: 500px;
    height: auto;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
} */

/* .align-left {
        display: flex;
        align-items: center;
        justify-content: left;
    } */
    
    /* .btn-buy {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        background-color:steelblue;
        color: #fff;
    } */
    
    /* .col-xs-12 {
        padding-left: 0px;
        padding-right: 0px;
    } */
    
    /* ul,li {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    } */