<ng-template *ngIf="order">
    <div *ngIf="chosenOrder==order.id">
        <div class="top-styling bg-light list-inline col-xs-12">
            <div class="col-xs-6 text-center">Order number: {{order.id}}</div>
            <div class="col-xs-6 text-center">Order value: {{order.amount}}kr</div>
        </div>
        <div *ngFor="let house of order.houses">
            <div>
                <div class="styling height-main bg-light list-inline col-xs-12">
                    <div class="col-xs-2 margin">
                        <img 
                        [src]="house.imageUrl"
                        alt="{{ house.name }}" 
                        class="img-responsive img-styling">
                    </div>
                    <div class="col-xs-10">
                        <div class="col-xs-12 bold">{{ house.name }}</div>
                        <div class="col-xs-12">{{ house.description }}</div>
                    </div>
            
                </div>
            </div>
            <app-order-houses [house]="house"></app-order-houses>
            
        </div>

        <div *ngIf="order.basketRows.length">
            <div class="margin-top">
                <div class="row">
                    <div class="styling styling-left bg-dark list-inline col-xs-1"></div>
                    <ul class="row list-inline bg-dark styling styling-right col-xs-11">
                        <li class="col-xs-2 list-inline-item"><span class="row-styling">Category</span></li>
                        <li class="col-xs-2 list-inline-item"><span class="row-styling">Name</span></li>
                        <li class="col-xs-3 list-inline-item"><span class="row-styling">Description</span></li>
                        <li class="col-xs-1 list-inline-item"><span class="row-styling">Amount</span></li>
                        <li class="col-xs-2 list-inline-item text-right">Price</li>
                        <li class="col-xs-2 list-inline-item text-right">Total Price</li>
                    </ul>
                </div>
            </div>
            <div *ngFor="let basketRow of order.basketRows">
                <ul class="styling styling-right styling-left bg-light list-inline">
                    <div class="styling styling-left styling-right col-xs-1">
                        <img 
                        [src]="basketRow.item.imageUrl"
                        alt="{{basketRow.item.name}}" 
                        class="img-responsive row-img-styling"
                        >
                    </div>
                    <li class="col-xs-2 list-inline-item text-left">{{basketRow.item.category}}</li>
                    <li class="col-xs-2 list-inline-item text-center">{{basketRow.item.name}}</li>
                    <li class="col-xs-3 list-inline-item text-center">{{basketRow.item.description}}</li>
                    <li class="col-xs-1 list-inline-item text-left">{{basketRow.amount}}</li>
                    <li class="col-xs-2 list-inline-item text-right">{{basketRow.item.price}}kr</li>
                    <li class="col-xs-2 list-inline-item text-right">{{basketRow.item.price * basketRow.amount }}kr</li>
                </ul>
            </div>

            <div class="col-xs-12 bottom-styling list-inline bg-dark text-right">Total Price: {{countTotalPrice()}}kr</div>
        </div>
    </div>
</ng-template>
