.toolbar-style {
    display: flex;
     justify-content:space-between;
     padding-right:5px;
}

.value-row-style {
    height: 40px;
    margin: 2px 0px 10px 0px;
    padding: 10px 15px 5px 15px;
}

.styling {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top:5px;
    margin-bottom:5px;
}

ul,li {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.button-style {
    display: flex;
    justify-content: center;
    height: 28px;
    width:100px;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
}

.title-row-style {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 30px;
    font-size: medium;
    margin: 2px 0px 10px 0px;
    padding: 0px 15px 0px 15px;
}

.header-row-style {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 20px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 10px 0px;
    font-size: 11px;
    width: 100%;
}

span {
    margin: 0px;
    padding: 0px;
}

.d-flex {
    display: flex;
}
