<div class="col-xs-12">
    <app-img-modal [item]="basketRow.item" [ngClass]="!showModal ? 'modal-show' : ''" (hideModal)="showModal=$event"></app-img-modal>

    <!-- Creates the bootstrap modal where the image will appear -->

    <div class="styling bg-light col-xs-1">
        <img 
        [src]="basketRow.item.imageUrl"
        alt="{{ basketRow.item.name }}" 
        class="img-responsive img-styling"
        (click)="onClickImage()">
    </div>
    <ul class="styling list-inline col-xs-6 bg-light">
        <li class="col-xs-3 s-font">{{basketRow.item.name}}</li>
        <li class="col-xs-9 s-font" style="padding-right:10px;">{{basketRow.item.description.slice(0,80)}} ...</li>
    </ul>
    <ul class="styling list-inline col-xs-3 bg-light">
        <li class="col-xs-4 text-center s-font">{{basketRow.amount}}</li>
        <li class="col-xs-4 text-center s-font">{{basketRow.item.price}}kr</li>
        <li class="col-xs-4 text-center s-font">{{basketRow.item.price * basketRow.amount }}kr</li>
    </ul>
    <div  class="styling bg-light col-xs-2 button-box-styling">
        <div class="styling button-box-styling" [ngClass]="!showButtons ? 'show-buttons' : ''">
            <button class="btn btn-primary button-styling" (click)="onRemoveItemFromCart()">-</button>
            <button class="btn btn-success button-styling" (click)="onAddItemToCart()">+</button>
            <button class="btn btn-danger button-styling" (click)="onRemoveRowFromCart()">x</button>      
        </div>
    </div>
</div>

