<div>

    <app-img-modal [item]="basketRow.item" [ngClass]="!showModal ? 'modal-show' : ''" (hideModal)="showModal=$event"></app-img-modal>

    <!-- Creates the bootstrap modal where the image will appear -->

    <div class="styling styling-left bg-light col-xs-1">
        <img 
            [src]="basketRow.item.imageUrl"
            alt="{{ basketRow.item.name }}" 
            class="img-responsive img-styling"
            (click)="onClickImage()"> 
    </div>

    <ul class="styling styling-right bg-light list-inline col-xs-11 margin-bottom">
        <li class="col-xs-1 text-left">{{basketRow.item.category}}</li>
        <li class="col-xs-2 text-left">{{basketRow.item.name}}</li>
        <li class="col-xs-4 text-left">{{basketRow.item.description}}</li>
        <li class="col-xs-1 text-center">{{basketRow.amount}}</li>
        <li class="col-xs-2 text-right">{{basketRow.item.price}}kr</li>
        <li class="col-xs-2 text-right">{{basketRow.item.price * basketRow.amount}}kr</li> 
    </ul>
</div>
