<div class="navbar navbar-default">
  <div class="container styling">
    <form (ngSubmit)="onSubmit1(f)" #f="ngForm" class="styling">
      <select 
          id="chosenName"
          class="form-control"
          [ngModel]="defaultHouse"
          name="name">
          <option    
              *ngFor="let name of names" >
              {{name}}
          </option>
      </select>
      <div class="styling-btn-box">
        <button class="btn btn-primary btn-nav" type="submit">Edit</button>
      </div>
    </form>
  </div>
</div>

<div [ngClass]="collapse ? 'hidden' : '' " class="col-xs-12 overflow-auto margin-top">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit2()" #f2="ngForm">
        <div 
          id="house-data"
          ngModelGroup="houseData"
          #houseData="ngModelGroup">            
          <div class="form-group row">
            <label for="name" class="col-xs-3">Name</label>
            <div class="col-xs-9">
              <input 
                type="text"
                id="name"
                class="form-control"
                ngModel
                name="name"
                required
                #name="ngModel">
              <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name!</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-xs-3">Description</label>
            <div class="col-xs-9">
              <textarea
                id="description"
                rows=4
                class="form-control"
                ngModel
                name="description"
                required
                #description="ngModel"></textarea>
              <span class="help-block" *ngIf="!description.valid && description.touched">Please enter a description!</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="imageUrl" class="col-xs-3">Image URL</label>
            <div class="col-xs-9">
              <input
                type="text"
                id="imageUrl"
                class="form-control"
                ngModel
                name="imageUrl"
                required
                #imageUrl="ngModel">
              <span class="help-block" *ngIf="!imageUrl.valid && imageUrl.touched">Please enter an URL!</span>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-xs-3"></div>
              <div class="col-xs-9 styling">
                  <div class="col-xs-6 img-padding">
                      <div class="img-box">
                          <img 
                          [src]="imageUrl.value"
                          alt="{{ imageUrl.value }}" 
                          class="img-responsive"
                          > 
                      </div>
                  </div>
                  <div class="styling-btn-box-main col-xs-6">
                    <button 
                    class="btn btn-danger"
                    type="button"
                    (click)="onDeleteHouse()"
                    >Delete house</button>
                      <button 
                      class="btn btn-primary"
                      type="submit"
                      [disabled]="!f2.valid">Update house</button>
                  </div>
              </div>
          </div>
          <br>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div *ngFor="let category of uniqueCategories">
    <div>
        <app-item-list
        [houseIndex]="houseIndex"
        [source]="source"
        [category]="category" 
        [items]="items"
        [reset]="reset"
        [uniqueCategories]="uniqueCategories"></app-item-list>
    </div>
  </div>
  <hr>    
</div>

