.styling {
    display: flex;
    align-items: center;
    height: 50px;
}

.styling-btn-box {
    display: flex;
    align-items:center;
    margin-left: 10px;
}

.btn-primary {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-left: 10px;
    background-color:steelblue;
    border:1px steelblue solid;
    color: #fff;
}

.btn-danger {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 0px;
    color: #fff;
}

.btn {
    width: 100px;
}

.overflow-auto {
    overflow: auto;
    height: 90vh;
}

select {
    width:200px;
}

.margin {
    margin: 5px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}


.overflow-auto {
    overflow: auto;
    height: 70vh;
}

.margin-top {
    margin-top:20px;
}

.margin-bottom {
    margin-bottom:20px;
}

.img-box {
    max-width: 100px;
    max-height: 100px; 
    padding-left: 0px; 
}

.img-padding {
    padding-left:0px;
    padding-top:20px;
}

.margin-top {
    margin-top:20px;
}

.styling-btn-box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    padding: 0px;
    margin-top: 10px;
}

mat-form-field {
    font-size:medium;
    font-weight: 800px;
}

mat-select {
    font-size: small;
}