<nav class="navbar navbar-default">
    <div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left styling">
                <li routerLinkActive="active"><a [routerLink]="['new-item']" >New Item</a></li>
                <li routerLinkActive="active"><a routerLink="new-house">New House</a></li>
                <li routerLinkActive="active"><a routerLink="edit-item">Edit Item</a></li>
                <li routerLinkActive="active"><a routerLink="edit-house">Edit House</a></li>
            </ul>
        </div>        
    </div>
</nav>
<div class="col-xs-12 overflow-auto" >
    <router-outlet></router-outlet>
</div>


