.styling {
    display: flex;
    align-items: center;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 10px;
}

.navbar-left {
    padding-left: 0px;
}

.main-styling {
    display: block;
    justify-content: row;
    align-items: center;
    margin-bottom: 20px;
}

.overflow-auto {
    overflow: auto;
    height: 80vh;
}