<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Admin</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <a [routerLink]="['new-item']" >
                    <mat-icon>category</mat-icon>
                    <span>New Item</span>
                </a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['new-house']" >
                    <mat-icon>home</mat-icon>
                    <span>New House</span>
                </a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['edit-item']" >
                    <mat-icon>article</mat-icon>
                    <span>Edit item</span>
                </a>
            </button>
            <button mat-menu-item>
                <a [routerLink]="['edit-house']" >
                    <mat-icon>support</mat-icon>
                    <span>Edit house</span>
                </a>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<div class="overflow-auto margins" >
    <router-outlet></router-outlet>
</div>



