<div class="col-xs-12 overflow-auto margin-top">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div 
          id="item-data"
          ngModelGroup="itemData"
          #itemData="ngModelGroup">
          <div class="form-group row">
            <label for="category" class="col-xs-3">Category</label>
            <div class="col-xs-9">
              <select
                [disabled]="newCategory.value!==''"
                id="category"
                class="form-control"
                [ngModel]="defaultCategory"
                name="category">
                <option    
                    *ngFor="let category of uniqueCategories" >
                    {{category}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-xs-3">New Category</label>
            <div class="col-xs-9">
              <input 
              type="text"
              id="newCategory"
              class="form-control"
              ngModel
              name="newCategory"
              #newCategory="ngModel">
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-xs-3">Name</label>
            <div class="col-xs-9">
              <input 
              type="text"
              id="name"
              class="form-control"
              ngModel
              name="name"
              required
              #name="ngModel">
              <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name!</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-xs-3">Description</label>
            <div class="col-xs-9">
              <textarea
                id="description"
                rows=4
                class="form-control"
                ngModel
                name="description"
                required
                #description="ngModel">
              </textarea>
              <span class="help-block" *ngIf="!description.valid && description.touched">Please enter a description!</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="price" class="col-xs-3">Price</label>
            <div class="col-xs-9">
              <input
                type="number"
                id="price"
                class="form-control"
                ngModel
                name="price"
                required
                #price="ngModel">
              <span class="help-block" *ngIf="!price.valid && price.touched">Please enter a price!</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="imageUrl" class="col-xs-3">Image URL</label>
            <div class="col-xs-9">
              <input
                type="text"
                id="imageUrl"
                class="form-control"
                ngModel
                name="imageUrl"
                required
                #imageUrl="ngModel">
              <span class="help-block" *ngIf="!imageUrl.valid && imageUrl.touched">Please enter an URL!</span>      
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3">
              <br>
              <br>
              <br>
              <button 
                class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid">Create item</button>
            </div>
            <div class="col-xs-9">
              <div class="img-box">
                <img 
                  [src]="imageUrl.value"
                  alt="{{ imageUrl.value }}" 
                  class="img-responsive"
                  > 
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
