<div class="col-xs-12 overflow-auto margin-top">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div 
          id="item-data"
          ngModelGroup="itemData"
          #itemData="ngModelGroup">
          <div class="form-group row">
            <label for="category">Category</label>
            <div>
              <select
                [disabled]="newCategory.value!==''"
                id="category"
                class="form-control"
                [ngModel]="defaultCategory"
                name="category">
                <option    
                    *ngFor="let category of uniqueCategories" >
                    {{category}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="name">New Category</label>
            <div>
              <input 
              type="text"
              id="newCategory"
              class="form-control"
              ngModel
              name="newCategory"
              #newCategory="ngModel">
            </div>
          </div>
          <div class="form-group row">
            <label for="name">Name</label>
            <div>
              <input 
              type="text"
              id="name"
              class="form-control"
              ngModel
              name="name"
              required
              #name="ngModel">
              <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name!</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="description">Description</label>
            <div>
              <textarea
                id="description"
                rows=4
                class="form-control"
                ngModel
                name="description"
                required
                #description="ngModel">
              </textarea>
              <span class="help-block" *ngIf="!description.valid && description.touched">Please enter a description!</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="price">Price</label>
            <div>
              <input
                type="number"
                id="price"
                class="form-control"
                ngModel
                name="price"
                required
                #price="ngModel">
              <span class="help-block" *ngIf="!price.valid && price.touched">Please enter a price!</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="imageUrl">Image URL</label>
            <div>
              <input
                type="text"
                id="imageUrl"
                class="form-control"
                ngModel
                name="imageUrl"
                required
                #imageUrl="ngModel">
              <span class="help-block" *ngIf="!imageUrl.valid && imageUrl.touched">Please enter an URL!</span>      
            </div>
          </div>

          <div class="form-group row">
            <label for="imageUrl">Image preview</label>
            <div class="img-box">
                <div class="">
                    <img 
                    [src]="imageUrl.value"
                    alt="{{ imageUrl.value }}" 
                    class="img-responsive"
                    > 
                </div>
            </div>
          </div>
          <div class="row">  
            <div class="styling-btn-box-main">
              <button 
              class="btn btn-primary"
              type="submit"
              [disabled]="!f.valid">Create Item</button>
            </div>
          </div>

          <!-- <div class="form-group row">
            <div class="styling">
              <div class="col-xs-6 img-padding">
                  <div class="img-box">
                      <img 
                      [src]="imageUrl.value"
                      alt="{{ imageUrl.value }}" 
                      class="img-responsive"
                      > 
                  </div>
              </div>
              <div class="styling-btn-box-main col-xs-6">
                  <button 
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!f.valid">Create Item</button>
              </div>
            </div>
          </div> -->
          <br>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
