<div class="overflow-auto vh-90 mt-20">
  <div *ngIf="submitted===false">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div 
          id="house-data"
          ngModelGroup="houseData"
          #houseData="ngModelGroup"> 

          <div class="form-group row">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" ngModel name="name" required #name="ngModel">
            <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name!</span>
          </div>

          <div class="form-group row">
            <label for="description">Description</label>
            <textarea id="description" rows=4 class="form-control" ngModel name="description" required #description="ngModel"></textarea>
            <span class="help-block" *ngIf="!description.valid && description.touched">Please enter a description!</span>
          </div>

          <div class="form-group row">
            <label for="imageUrl">Image URL</label>
            <input type="text" id="imageUrl" class="form-control" ngModel name="imageUrl" required #imageUrl="ngModel">
            <span class="help-block" *ngIf="!imageUrl.valid && imageUrl.touched">Please enter an URL!</span>
          </div>

          <br>

          <div class="form-group row">
            <label for="imageUrl">Image preview</label>
            <div class="img-box">
              <img [src]="imageUrl.value" [alt]="name.value" class="img-responsive"> 
            </div>
          </div>

          <div class="button-row-style row">
            <button mat-raised-button color="primary" class="button-style" type="submit" [disabled]="!f.valid">Create house</button>
          </div>
        </div>
      </form>
    </div>

  <br>

  <div>
    <mat-toolbar color="primary">
        <mat-form-field appearance="standard">
          <mat-label>Category filter</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="category-filter" panelClass="example-panel-blue">
            <mat-option *ngFor="let category of uniqueCategories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-toolbar>
  </div> 

  <div>
    <div>
        <div *ngFor="let category of uniqueCategories">
            <div *ngIf="selectedValue===category && category!=='All categories'">
                <app-item-list 
                    [source]="source" 
                    [chosenCategory]="selectedValue" 
                    [category]="category" 
                    [items]="items"
                    [uniqueCategories]="uniqueCategories">
                </app-item-list>  
            </div>
        </div>
        
        <div *ngIf="selectedValue==='' || selectedValue==='All categories'" class="app-item-style">
            <div *ngFor="let item of items" >
                <app-item-list 
                    [source]="source" 
                    [chosenCategory]="selectedValue" 
                    [category]="item.category" 
                    [items]="items"
                    [item]="item"
                    [uniqueCategories]="uniqueCategories">
                </app-item-list>  
            </div>
        </div>
    </div>
  </div>
 
  </div>
  <div *ngIf="submitted===true">
    <div class="submitted-style">
      <div (click)="submitted=false" class="bg-blue submitted-msg-style">
        House created!
      </div>
    </div>
  </div>
</div>
