input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.overflow-auto {
    overflow: auto;
}

.mt-20 {
    margin-top:20px;
}

.vh90 {
    height: 90vh;
}
    
.img-box {
    max-width: 100px;
    max-height: 100px; 
    padding-left: 0px; 
}

mat-form-field {
    font-size:medium;
    font-weight: 800px;
}

mat-select {
    font-size: small;
}

.button-style {
    display: flex;
    justify-content: center;
    height: 28px;
    width:100px;
    align-items: center;
}
  
.button-row-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.submitted-style {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 200px; 
}

.submitted-msg-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    font-size: medium;
    border: 3px solid #3f51b5;
}
