<div>
    <div>
        <div class="row">
            <div class="styling styling-left bg-dark list-inline col-xs-1"></div>
            <ul class="row list-inline bg-dark styling styling-right col-xs-11">
                <li class="col-xs-2 s-font text-left">Category</li>
                <li class="col-xs-2 s-font text-left"><span class="row-styling">Name</span></li>
                <li class="col-xs-4 s-font text-left"><span class="row-styling">Description</span></li>
                <li class="col-xs-1 s-font text-center"><span class="row-styling">Amount</span></li>
                <li class="col-xs-1 s-font text-right">Price</li>
                <li class="col-xs-2 s-font text-right">Total Price</li>
            </ul>
        </div>
    </div>
</div>

<div *ngFor="let basketRow of house.basketRows">
    <div class="styling styling-right bg-light styling-left  list-inline">
        <div class="styling styling-left styling-right col-xs-1">
            <img 
            [src]="basketRow.item.imageUrl"
            alt="{{basketRow.item.name}}" 
            class="img-responsive row-img-styling"
            >
        </div>
        <ul class="row list-inline styling styling-right col-xs-11">
            <li class="col-xs-2 list-inline-item s-font text-left">{{basketRow.item.category}}</li>
            <li class="col-xs-2 list-inline-item s-font text-left">{{basketRow.item.name}}</li>
            <li *ngIf="basketRow.item.description.length>50" class="col-xs-4 list-inline-item s-font text-left">
                {{basketRow.item.description.slice(0,50)}} ...
            </li>
            <li *ngIf="basketRow.item.description.length<=50" class="col-xs-4 list-inline-item s-font text-left">
                {{basketRow.item.description.slice(0,50)}}
            </li>
            <li class="col-xs-1 list-inline-item s-font text-left">{{basketRow.amount}}</li>
            <li class="col-xs-1 list-inline-item s-font text-right">{{basketRow.item.price}}kr</li>
            <li class="col-xs-2 list-inline-item s-font text-right">{{basketRow.item.price * basketRow.amount }}kr</li>
        </ul>
    </div>
</div>
<div class="col-xs-4 bottom-styling list-inline bg-dark text-right">Price each: {{countTotalPrice()}}kr</div>
<div class="col-xs-4 bottom-styling list-inline bg-dark text-right">Amount: {{house.amount}}</div>
<div class="col-xs-4 bottom-styling list-inline bg-dark text-right">Total Price: {{countTotalPrice()*house.amount}}kr</div>

