.main-style {
    display: flex;
    align-items: center;
    height: 120px;
    margin: 5px 0px 10px 0px;
    padding: 0px;
}

.row-style {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 5px 0px 10px 0px;
    padding: 0px 15px 0px 0px;
}

li, ul {
    margin: 0px;
    padding: 0px;
}

li {
    font-size: smaller;
}

.bold {
    font-weight: 600;
    color: darkslategrey;
}

.title-row-style {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 30px;
    font-size: medium;
    margin: 2px 0px 10px 0px;
    padding: 0px 15px 0px 15px;
}

.name-style {
    font-size: medium;
    margin-bottom: 3px;
}

.description-style {
    font-size: small;
}

.img-styling {
    display: flex;
    justify-content: left;
    max-height: 110px;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}
