<div class="row margin-bottom">
    <div class="margin-bottom">
        <div class="top-styling bg-middle col-xs-10 center">
            <button class="btn btn-primary margin" type="button" (click)="onCollapse()">{{ collapseIcon }}</button>
            <span class="bold margin-left">
                House name: {{house.name}}
            </span>
        </div>
        <div class="top-styling styling bg-middle col-xs-2 button-box-styling"> 
            <div class="button-box-styling" *ngIf="showButtons">
                <button class="btn btn-primary button-styling" (click)="onRemoveHouseFromCart()">-</button>
                <button class="btn btn-success button-styling" (click)="onAddHouseToCart()">+</button>
                <button class="btn btn-danger button-styling" (click)="onRemoveHouseRowFromCart()">x</button>
            </div> 
        </div>
    </div>
</div>

<div>
    <div class="col-xs-2 summary-height">
        <img 
        [src]="house.imageUrl"
        alt="{{ house.name }}" 
        class="img-responsive img-styling"
        (click)="onCollapse()"> 
    </div>
    <div class="col-xs-5 text-desc">
        {{house.description}}
    </div>
    <div class="col-xs-5 summary-height s-font">
        <div class="text-styling">
            <div class="col-xs-7 text-right">Total:</div>
            <div class="col-xs-5 text-right"><span class="row-styling">{{totalSingleHousePrice()}}kr</span></div>    
        </div>
        <div class="text-styling">
            <div class="col-xs-7 text-right">Amount:</div>
            <div class="col-xs-5 text-right"><span class="row-styling">{{house.amount}}</span></div> 
        </div>
        <div class="text-styling margin-bottom">
            <div class="col-xs-7 text-right">Total for {{house.amount}} {{ spelling(house.amount) }}:</div>
            <div class="col-xs-5 text-right"><span class="row-styling">{{totalSingleHousePrice()*house.amount}}kr</span></div>
        </div>
    </div>
</div>

<div [ngClass]="!collapse ? 'hidden' : '' ">
    <div>
        <div class="list-inline col-xs-1"></div>
        <ul class="list-inline styling col-xs-5">
            <li class="col-xs-3 text-left">Name</li>
            <li class="col-xs-9">Description</li>
        </ul>
        <ul  class="row list-inline styling col-xs-6">
            <li class="col-xs-3">Category</li>
            <li class="col-xs-3 text-center">Amount</li>
            <li class="col-xs-3 text-right">Price</li>
            <li class="col-xs-3 text-right">Total Price</li>
        </ul>
    </div>
</div>

<div [ngClass]="!collapse ? 'hidden' : '' ">
    <div *ngFor="let basketRow of house.basketRows; let i = index">
        <app-shopping-list-house-rows [showButtons]="false" [basketRow]="basketRow" [index]="i"></app-shopping-list-house-rows>
    </div>
</div>

