<div *ngIf="!itemDeleted && !itemEdited">
    <mat-toolbar color="primary">
        <mat-form-field appearance="standard">
            <mat-label>Edit item</mat-label>
            <mat-select 
                [(ngModel)]="selectedValue"
                name="category-filter"
                panelClass="example-panel-blue"
                (ngModelChange)="onChange($event)">

                <mat-option *ngFor="let name of names" [value]="name">
                    {{name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar>
</div> 

<div [ngClass]="collapse ? 'hidden' : '' " class="overflow-auto vh-90 mt-20">
    <div *ngIf="submitted===false" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div 
                id="item-data"
                ngModelGroup="itemData"
                #itemData="ngModelGroup">

                <div class="form-group row">
                    <label for="category">Category</label>
                    <select id="category" class="form-control" [ngModel]="defaultCategory" name="category">
                        <option    
                            *ngFor="let category of uniqueCategories" >
                            {{category}}
                        </option>
                    </select>
                </div>
        
                <div class="form-group row">
                    <label for="name">Name</label>
                    <input  type="text" id="name" class="form-control" ngModel name="name" required #name="ngModel">
                    <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name!</span>
                </div>

                <div class="form-group row">
                    <label for="description">Description</label>
                        <textarea id="description" rows=4 class="form-control" ngModel name="description" required #description="ngModel"></textarea>
                        <span class="help-block" *ngIf="!description.valid && description.touched">Please enter a description!</span>
                </div>

                <div class="form-group row">
                    <label for="price">Price</label>
                    <input type="number" id="price" class="form-control" ngModel name="price" required #price="ngModel">
                    <span class="help-block" *ngIf="!price.valid && price.touched">Please enter a price!</span>
                </div>

                <div class="form-group row">
                    <label for="imageUrl">Image URL</label>
                    <input type="text" id="imageUrl" class="form-control" ngModel name="imageUrl" required #imageUrl="ngModel">
                    <span class="help-block" *ngIf="!imageUrl.valid && imageUrl.touched">Please enter an URL!</span>
                </div>
                <br>

                <div class="form-group row">
                    <label for="imageUrl">Image preview</label>
                    <div class="img-box">
                            <img [src]="imageUrl.value" [alt]="name.value" class="img-responsive"> 
                    </div>
                </div>

                <div class="button-row-style row">
                    <button mat-raised-button color="primary" class="button-style" type="button" [disabled]="!f.valid" (click)="onDeleteItem()">Delete item</button>
                    <button mat-raised-button color="primary" class="button-style" type="submit" [disabled]="!f.valid">Update item</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="submitted===true">
    <div class="submitted-style">
        <div *ngIf="itemEdited" (click)="submitted=false; itemEdited=false" class="bg-blue submitted-msg-style">
            Item edited!
        </div>
        <div  *ngIf="itemDeleted" (click)="submitted=false; itemDeleted=false" class="bg-blue submitted-msg-style">
            Item deleted!
        </div>
    </div>
</div>
