<div class="top-styling-box bg-middle">
    <div class="top-styling top-styling-left">
        <button class="btn btn-primary margin" type="button" (click)="onCollapse()">{{ collapseIcon }}</button>
        <span class="top-styling-text">{{house.name}}</span>
    </div>
    <div class="top-styling top-styling-right"> 
        <div class="button-box-styling" *ngIf="showButtons">
            <button class="btn btn-primary button-styling" (click)="onRemoveHouseFromCart()">-</button>
            <button class="btn btn-success button-styling" (click)="onAddHouseToCart()">+</button>
            <button class="btn btn-danger button-styling" (click)="onRemoveHouseRowFromCart()">x</button>
        </div> 
    </div>
</div>

<div>
    <div class="col-xs-3 summary-height" style="padding: 0px">
        <img 
        [src]="house.imageUrl"
        alt="{{ house.name }}" 
        class="img-responsive img-styling"
        (click)="onCollapse()"> 
    </div>
    <div class="col-xs-9 text-desc s-font" style="height: 70px; overflow: hidden; padding-right:0px">
        {{house.description}}
    </div>
</div>

<div [ngClass]="!collapse ? 'hidden' : '' ">
    <div class="margin-bottom">
        <div class="row s-font bg-blue styling" style="padding-left: 0px; padding-right:0px; height: 26px; width: 100%;"> 
            <span class="col-xs-4 text-left" style="padding-left: 15px; padding-right:0px;">Name</span>
            <span class="col-xs-2 text-center" style="padding: 0px;">Amount</span>
            <span class="col-xs-2 text-right" style="padding: 0px;">Price</span>
            <span class="col-xs-2 text-center" style="padding: 0px;"></span>
            <span class="col-xs-2 text-right" style="padding-left:0px; padding-right: 15px;">Total</span>
        </div>
    </div>
</div>

<div [ngClass]="!collapse ? 'hidden' : '' ">
    <div class="margin-bottom" *ngFor="let basketRow of house.basketRows; let i = index">
        <div class="row s-font bg-light"> 
            <span class="col-xs-4 text-left" style="padding-left: 15px; padding-right:0px;">{{basketRow.item.name}}</span>
            <span class="col-xs-2 text-center" style="padding: 0px;">{{basketRow.amount}}st</span>
            <span class="col-xs-2 text-right" style="padding: 0px;">{{basketRow.item.price}}kr</span>
            <span class="col-xs-2 text-center" style="padding: 0px;">=</span>
            <span class="col-xs-2 text-right" style="padding-left:0px; padding-right: 15px;">{{basketRow.item.price * basketRow.amount}}kr</span>
        </div>
        <!-- <app-houses-list [basketRow]="basketRow"></app-houses-list>  -->
    </div> 
    <div class="row s-font" style="margin-bottom:10px; margin-top: 10px; margin-right: 0px; padding:0px; padding-right: 15px;">
        <div class="text-right"><span class="row-styling">Total: {{totalSingleHousePrice()}}kr</span></div>    
    </div>

</div>

<div class="margin-top margin-bottom">
    <div class="bg-blue styling text-right s-font" style="display:flex; justify-content: space-between; width:100%;  height: 26px; padding-left: 10px; padding-right:10px;">
        <span class="text-left">Amount: {{house.amount}}</span>
        <span class="text-right">Total price: {{totalSingleHousePrice()*house.amount}}kr</span>
    </div>
</div>



