/* .styling {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top:5px;
    margin-bottom:5px;
}

.left-align {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-primary {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 20px 5px 5px;
}

.list-inline>li {
    padding-left: 0px;
    padding-right: 0px;
}

.text-left {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px
}

ul,li {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
} */
