<div [ngClass]="collapse ? '' : 'hidden' " class="styling bg-middle col-xs-12 text-left">
    <div class="col-xs-1">
        <button  class="btn btn-primary" type="button" (click)="onCollapse()">{{ collapseIcon }}</button>
    </div>
    Category: {{ category }}
</div>

<div [ngClass]="collapse ? 'hidden' : '' ">
    
    <div class="styling bg-middle col-xs-12 text-left">
        <div class="col-xs-1">
            <button  class="btn btn-primary" type="button" (click)="onCollapse()">{{ collapseIcon }}</button>
        </div>
        <ul class="styling list-inline col-xs-10 text-left">
            <li class="col-xs-2 list-inline-item">Category</li>
            <li class="col-xs-2 list-inline-item">Name</li>
            <li class="col-xs-5 list-inline-item">Description</li>
            <li class="col-xs-2 list-inline-item">Price</li>
            <li *ngIf="source!=='items'"class="col-xs-1 list-inline-item">Amount</li>
        </ul>
        <div class="col-xs-1"></div>
    </div>
    
    <div *ngFor="let item of items; let i = index">
        <div *ngIf="category === item.category">
            <app-row 
                [item]="item"
                [source]="source"
                [reset]="reset"></app-row>
        </div>
    </div>  
</div>


