<div class="row">
    <div class="top-styling bg-blue col-xs-10 center">
        <button mat-raised-button color="basic" class="button-style" type="button" (click)="onCollapse()">{{ collapseIcon }}</button>
        <span class="ml-10">
            House name: {{house.name}}
        </span>
    </div>
    <div class="top-styling bg-blue col-xs-2 button-box-styling"> 
        <div class="button-box-styling" *ngIf="showButtons">
            <button mat-raised-button color="basic" class="button-style" type="button" (click)="onRemoveHouseFromCart()">-</button>
            <button mat-raised-button color="basic" class="button-style" type="button" (click)="onAddHouseToCart()">+</button>     
            <button mat-raised-button color="warn" class="button-style" type="button" (click)="onRemoveHouseRowFromCart()">x</button>     
        </div>
    </div>
</div>

<div>
    <div class="col-xs-2">
        <img 
        [src]="house.imageUrl"
        alt="{{ house.name }}" 
        class="img-responsive img-styling"
        (click)="onCollapse()"> 
    </div>
    <div class="col-xs-10 text-desc">
        {{house.description}}
    </div>
</div>
    
<div [ngClass]="!collapse ? 'hidden' : '' ">
    <ul class="list-inline row-style bg-dark">
        <li class="col-xs-1"></li>
        <li class="col-xs-2 text-left">Name</li>
        <li class="col-xs-6">Description</li>
        <li class="col-xs-1 text-center">Amount</li>
        <li class="col-xs-1 text-right">Price</li>
        <li class="col-xs-1 text-right">Total</li>
    </ul>
</div>

<div [ngClass]="!collapse ? 'hidden' : '' ">
    <div *ngFor="let basketRow of house.basketRows; let i = index">
        <app-shopping-list-house-rows [showButtons]="false" [basketRow]="basketRow" [index]="i"></app-shopping-list-house-rows>
    </div>

    <p class="row-style text-right bg-dark">Total: {{totalSingleHousePrice()}}kr</p> 
</div>

<div class="footer-row-style bg-blue text-right">
    <span class="text-left col-xs-3">Amount: {{house.amount}}</span>
    <span class="text-right col-xs-3">Total: {{countTotalPrice()*house.amount}}kr</span>
</div>
<hr>

