.row {
    margin-left: 0px;
    margin-right: 0px;
}

.img-styling {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    max-height: 90px;
    padding-top: 0px;
    padding-bottom: 0px;
}

li {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
}

.top-styling {
    display: flex;
    align-items: center;
    height: 34px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}

.button-style {
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    margin: 2px;
    padding: 0px;
    line-height: 24px;
}

.button-box-styling {
    display: flex;
    align-items: center;
    justify-content: right;
}

.text-desc {
    display: flex;
    align-items: top;
    justify-content: left;
    text-align: left;
    margin: 0px;
    height: 100px;
    font-size:smaller;
}

.row-style {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 10px 0px;
    font-size: 12px;
}

.footer-row-style {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 34px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 10px 0px;
}
